<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="assets/img/kid/product-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a routerLink="#"> Rent_&_Run</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="assets/img/accessories/product-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a routerLink="#">Rent_&_Run</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="assets/img/blog/blog-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a routerLink="#">Rent_&_Run</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="assets/img/blog/blog-9.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a routerLink="#">Rent_&_Run</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="assets/img/accessories/product-8.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a routerLink="#">Rent_&_Run</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="assets/img/blog/blog-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a routerLink="#">Rent_&_Run</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

